
<nb-layout>
  <nb-layout-header>COVID-19 Tracker</nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer><p class="caption">Created by Mark Sablan with ❤</p> </nb-layout-footer>
</nb-layout>
