
<div *ngIf="isLoading" class="overlay">
  <div class="spinner-container">
      <div
      *ngIf="isLoading"
      class="spinner-grow text-primary"
      style="width: 5rem; height: 5rem;"
      role="status">
          <span class="sr-only">Loading...</span>
      </div>
  </div>
</div>

<div class="row">
  <div
  *ngFor="let c of countries"
   class="col-lg-4 col-md-6 col-sm-12">
    <nb-flip-card>
      <nb-card-front>
        <nb-card style="height: 170px!important;">
          <nb-card-body>
            <div class="row">
              <div class="col-3">
                <img style="transform: rotate(90deg);" width="110%" [src]="c.countryInfo.flag" alt="">
              </div>
              <div class="col">

                <div class="row">
                  <div class="col"> <h6> {{ c.country }} </h6> </div>
                </div>

                <div class="row">
                  <div class="col-7 mb-n2"> <p class="caption text-primary">Total Cases:</p> </div>
                  <div class="col mb-n2"> <p class="caption text-primary"> {{ c.cases }} </p> </div>
                </div>

                <div class="row">
                  <div class="col-7 mb-n2"><p class="caption text-danger"> Total Deaths: </p></div>
                  <div class="col mb-n2"><p class="caption text-danger"> {{ c.deaths }} </p></div>
                </div>

                <div class="row">
                  <div class="col-7 mb-n2"><p class="caption text-success"> Recovered: </p></div>
                  <div class="col mb-n2"><p class="caption text-success"> {{ c.recovered }} </p></div>
                </div>

                <div class="row">
                  <div class="col mb-n3">
                     <a [routerLink]="['/country', c.country]"><p class="caption">View Details</p></a>
                  </div>
                </div>

              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </nb-card-front>
      <nb-card-back>
        <nb-card style="height: 170px!important;">
          <nb-card-body>
            <div class="row">
              <div class="col-3">
                <img style="transform: rotate(90deg);" width="110%" [src]="c.countryInfo.flag" alt="">
              </div>
              <div class="col">

                <div class="row">
                  <div class="col"> <h6> {{ c.country }} </h6> </div>
                </div>

                <div class="row">
                   <div class="col-7 mb-n2"><p class="caption  text-primary"> Active Cases: </p></div>
                   <div class="col mb-n2"><p class="caption  text-primary"> {{ c.active }} </p></div>
                </div>

                <div class="row">
                  <div class="col-7 mb-n2"><p class="caption"> Today Cases: </p></div>
                  <div class="col mb-n2"><p class="caption"> {{ c.todayCases }} </p></div>
                </div>

                <div class="row">
                  <div class="col-7 mb-n2"><p class="caption text-warning"> Critical Cases: </p></div>
                  <div class="col mb-n2"><p class="caption text-warning"> {{ c.critical }} </p></div>
                </div>

                <div class="row">
                  <div class="col-7 mb-n1"><p class="caption text-danger"> Today Deaths: </p></div>
                  <div class="col mb-n1"><p class="caption text-danger"> {{ c.todayDeaths }} </p></div>
                </div>

              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </nb-card-back>
    </nb-flip-card>
  </div>
</div>
