<nb-card>
    <nb-card-header>{{ title }}</nb-card-header>

    <!-- <nb-card-body></nb-card-body> -->

    <ng-content select="nb-card-body"></ng-content>

    <nb-card-footer>
        <div class="row">
            <div class="col d-flex justify-content-end">
                <!-- <button nbButton status="primary"></button> -->
                <button nbButton status="control" (click)="onClose()">Close</button>
            </div>
        </div>
    </nb-card-footer>

</nb-card>