<div class="row" *ngIf="country != undefined">
  <div class="col d-flex justify-content-center">
    <nb-card>
      <nb-card-body>
        <div class="row text-center">
          <div class="col-12 mb-2">
            <img width="200px" [src]="country.countryInfo.flag" alt="">
          </div>

          <div class="col-12">
            <h6> {{ country.country }} </h6>
          </div>
        </div>

      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row" *ngIf="country != undefined">
  <div class="col-lg-4 col-md-4 col-sm-6">
    <nb-card>
      <nb-card-header>Total Case/s</nb-card-header>
      <nb-card-body>
        <h3 class="text-primary text-center"> {{ country.cases }}</h3>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <nb-card>
      <nb-card-header>Active Case/s</nb-card-header>
      <nb-card-body>
        <h3 class="text-primary text-center"> {{ country.active }}</h3>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <nb-card>
      <nb-card-header>New Case/s (Today)</nb-card-header>
      <nb-card-body>
        <h3 class="text-center"> {{ country.todayCases }}</h3>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <nb-card>
      <nb-card-header>Critical Case/s</nb-card-header>
      <nb-card-body>
        <h3 class="text-warning text-center"> {{ country.critical }}</h3>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <nb-card>
      <nb-card-header>Total Death/s</nb-card-header>
      <nb-card-body>
        <h3 class="text-danger text-center"> {{ country.deaths }}</h3>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <nb-card>
      <nb-card-header>New Death/s (Today)</nb-card-header>
      <nb-card-body>
        <h3 class="text-danger text-center"> {{ country.todayDeaths }}</h3>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <nb-card>
      <nb-card-header>Recovered</nb-card-header>
      <nb-card-body>
        <h3 class="text-success text-center"> {{ country.recovered }}</h3>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <nb-card>
      <nb-card-header>Case/s Per Million</nb-card-header>
      <nb-card-body>
        <h3 class="text-center"> {{ country.casesPerOneMillion }}</h3>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <nb-card>
      <nb-card-header>Death/s Per Million</nb-card-header>
      <nb-card-body>
        <h3 class="text-center"> {{ country.deathsPerOneMillion }}</h3>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <app-case-timeline></app-case-timeline>
  </div>

  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <app-death-timeline></app-death-timeline>
  </div>
</div>
